.nav-bar {
  background-color: #1a5f28;
}

.brand {
  color: aliceblue;
}

.brand:hover {
  cursor: auto;
  color: aliceblue;
}

.navbar-light .navbar-nav .nav-link {
  color: aliceblue;
}

.navbar-light .navbar-brand {
  color: aliceblue;
}

a:link {
  text-decoration: none;
}

.drop-menu {
  background-color: #1a5f28;
  color: aliceblue;
}

.dropdown-item {
  color: aliceblue;
}

.drop-menu a:hover {
  background-color: aliceblue;
  color: #1a5f28;
}

.collapse-btn {
  background: #ffffff;
}

.collapse-icon {
  background-color: #ffffff;
}

.chat-container {
  margin: 0px;
  padding: 0px;
  height: 440px;
  max-width: 700px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #9edaab;

  padding: 20px;
}

.heading-cont{
    background: #9edaab;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 10px;
    
}

.chat-heading {
    text-align: center;
  margin-bottom: 10px;
}

.chat-options{
    text-align: center;
}

.chat-dropdown-menu{
    background: #9edaab;
}

.chat-dropdown-item{
    color: #000000;
}

.chat-list {
  border-radius: 10px;
}
.chat-element {
  padding: 2px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.sender-name {
  font-size: small;
  color: #1a5f28;
  text-decoration: underline;
}

.chat-time {
  font-size: small;
  color: #1a5f28;
  text-align: end;
}

.more {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.send-div {
  background-color: #9edaab;
  border-radius: 20px;
  border-top-right-radius: 0%;
  border-top-left-radius: 0%;
  max-width: 700px;
}

.send-div__chat-form {
  margin: 0px;
  padding: 10px;
  padding-left: 0px;
}

.send-chat {
  border-radius: 30px;
  padding: 10px;
}

.send-btn {
  margin-top: 7px;
  border-radius: 10px;
  background-color: #1a5f28;
  border: none;
}

.send-btn:hover {
  background-color: #083a12;
}

.send-btn:focus {
  background-color: #1a5f28;
}

.invisible-div{
    display: none;
}


.create-group-form__button{
    background-color:#1a5f28;
    border: none;
    border-radius: 10px;
}

.create-group-form__button:hover{
    background-color: #083a12;
}

.create-group-form__button:focus{
    background-color: #1a5f28;
}

.form-elements{
    margin-top: 20px;
    background: #9edaab;
    border-radius: 20px;
    padding: 20px;
    height: 550px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.go-back-btn{
    text-align: end;
    padding-right: 5px;
    padding-top: 10px;
}
